{% extends 'blog/base.html' %}

{% block tiile %}
All blogs
{% endblock %}

{% block content %}
<h1>All blogs</h1>
    <ul>
    {% for user in user_list %}
        <li>
        <a href="{% url 'blog:user_blog' user.pk %}">
        {% if request.user.username != user.username %}
            {% if user.first_name != '' or user.last_name != '' %}
                {{ user.first_name }} {{ user.last_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
        {% else %}
            My blog
        {% endif %}
        </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}